<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_enable_interest_ads = "true";
amzn_assoc_tracking_id = "gadgethabit0e-20";
amzn_assoc_ad_mode = "auto";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "fde9f38e95b091cb77c2543ba4082013";
amzn_assoc_emphasize_categories = "2335752011,172282,229534,468642";
amzn_assoc_fallback_mode = {"type":"search","value":"Android"};
amzn_assoc_default_category = "All";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>